@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdv!</h1>
    <p>
        Ez a weboldal Entity Framework-ben készült az Alkalmazás Fejlesztés II. tárgyra :)
    </p>
</div>
